*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
}

body {
	background: #fff;
	color: #0e3b52;
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	transition: all .25s ease-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 1rem;
	color: #0e3b52;
	line-height: 1.05;
	font-weight: 700;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2.5rem;
}

h1 span,
h2 span {
	color: #fc6054;
}

p {
	margin: 0 0 1rem;
}

img {
	max-width: 100%;
	vertical-align: top;
}

button,
input {
	font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.button {
	margin: 0;
	padding: .75rem 1.5rem;
	background-color: #fc6054;
	border-radius: .25rem;
	box-shadow: 0 4px 32px rgba(0, 0, 0, .16);
	color: #fff;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: all .25s ease-out;
}

.button:hover {
	background-color: #0e3b52;
}

.button.button--clear {
	background: rgba(0, 0, 0, 0);
	box-shadow: 0 4px 32px rgba(0, 0, 0, 0);
	color: #0e3b52;
}

.button.button--clear:hover svg {
	fill: #0e3b52;
}

.button.button--clear svg {
	fill: #fc6054;
}

.button svg {
	margin-right: .75rem;
	width: 1.25rem;
	height: 1.25rem;
	fill: #fff;
	transition: all .25s ease-out;
}

.button-group {
	margin-top: 2rem;
	margin-left: -1rem;
	display: flex;
	flex-wrap: wrap;
}

.button-group .button {
	margin: 0 0 1rem 1rem;
}

.button-group .button:last-child {
	margin-right: 0;
}

.copyright {
	margin-bottom: 2rem;
	text-align: center;
}

.copyright p {
	margin: 0;
	color: #829aa5;
}

.dropdown {
	border-bottom: 2px solid #fc6054;
	display: inline-block;
	position: relative;
}

.dropdown > button {
	background: none;
	border: 0;
	font-size: 1rem;
	font-weight: 700;
	cursor: pointer;
}

.dropdown.active .dropdown-content {
	display: block;
}

.dropdown-content {
	padding: .5rem 0;
	min-width: 160px;
	background-color: #f1f1f1;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, .15);
	display: none;
	position: absolute;
	z-index: 1;
}

.dropdown-content a {
	padding: .5rem 1rem;
	color: #0e3b52;
	font-weight: 700;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown-icon {
	margin-left: 2px;
	width: .75rem;
	height: .75rem;
	fill: #fc6054;
}

.dropdown-inline-group {
	margin-left: auto;
	display: flex;
}

.events-card {
	height: 100%;
	background: #fff;
	border-radius: .25rem;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	display: flex;
	flex-direction: column;
	text-decoration: none;
	transition: all .25s ease-out;
}

.events-card:hover {
	box-shadow: 0 4px 50px rgba(0, 0, 0, .2);
}

.events-card .events-card__body {
	padding: 1rem;
	height: 100%;
}

.events-card .events-card__body h4 {
	margin-bottom: .5rem;
	font-size: 18px;
}

.events-card .events-card__body p {
	color: #829aa5;
}

.events-card .events-card__body > :last-child {
	margin-bottom: 0;
}

.events-card .events-card__head {
	min-height: 9rem;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.events-card .events-card__head-info {
	padding: .25rem 1rem;
	background-color: rgba(0, 0, 0, .5);
	color: #fff;
	display: flex;
	align-items: center;
}

.events-card .events-card__head-info svg {
	margin-right: .75rem;
	width: .75rem;
	height: .75rem;
	fill: #fff;
}

.events-section {
	padding: 4rem 0;
	background: #f6f7f8;
}

.events-section h2 {
	margin-bottom: 2rem;
}

.events-section .events-section__cell {
	margin-bottom: 1.5rem;
}

.events-section .events-section__filters {
	margin-bottom: 2rem;
}

.events-view-more {
	margin-top: 1rem;
	font-weight: 700;
	text-align: center;
}

.events-view-more a {
	color: #fc6054;
	text-decoration: none;
}

.events-view-more a:hover {
	color: #0e3b52;
}

.filter-block-group {
	margin-bottom: 1.5rem;
}

.filter-options-group {
	margin-bottom: 1.5rem;
	display: flex;
	align-items: center;
}

.filters-form input {
	color: #829aa5;
	font-size: 1rem;
	font-weight: 700;
}

.filters-form input::placeholder {
	color: #829aa5;
	font-weight: 700;
	opacity: 1;
}

.filters-form label {
	color: #829aa5;
	font-weight: 700;
}

.filters-form .dropdown,
.filters-form .price-field-group {
	margin-left: auto;
}

.filters-form .dropdown-content {
	right: 0;
}

.hero {
	padding: 4rem 0;
	overflow: hidden;
	position: relative;
}

.hero-side-image {
	margin: 4rem 0 0 20px;
	height: 36vw;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: contain;
}

.inline-help-text {
	margin: 0 .75rem;
	color: #829aa5;
	font-weight: 700;
}

.logo {
	width: 218px;
	height: 42px;
}

.logo a {
	display: block;
}

.nav-wrap {
	display: flex;
	align-items: center;
}

.price-field {
	position: relative;
}

.price-field input {
	margin: 0;
	padding: 2px 1rem 0 2.5rem;
	width: 7rem;
	border: 2px solid #dfe4e9;
	border-radius: 999px;
	height: 3rem;
	display: inline-flex;
}

.price-field-icon {
	top: .875rem;
	left: 1rem;
	width: 1.25rem;
	height: 1.25rem;
	fill: #fc6054;
	position: absolute;
}

.price-field-group {
	display: flex;
	align-items: center;
}

.price-field-middle {
	margin: 0 .75rem;
	color: #829aa5;
	font-weight: 700;
}

.range-field {}

.range-slider {
	width: 100%;
	height: .25rem;
	background: #fc6054;
	border-radius: .25rem;
	appearance: none;
}

.range-slider::-moz-range-thumb {
	width: 1.5rem;
	height: 1.5rem;
	background: #fff;
	border: .25rem solid white;
	border-radius: 1rem;
	box-shadow: 0 2px 15px rgba(0, 0, 0, .16);
	appearance: none;
}

.range-slider::-webkit-slider-thumb {
	width: 1.5rem;
	height: 1.5rem;
	background: #fff;
	border: .25rem solid white;
	border-radius: 1rem;
	box-shadow: 0 2px 15px rgba(0, 0, 0, .16);
	appearance: none;
}

.search-events {
	margin-bottom: 1.5rem;
	position: relative;
}

.search-events input {
	padding: 2px 1rem 0 3rem;
	width: 100%;
	height: 3rem;
	border: 2px solid #dfe4e9;
	border-radius: 999px;
}

.search-events input::placeholder {
	color: #829aa5;
	opacity: 1;
}

.search-events svg {
	top: 1rem;
	left: 1.25rem;
	width: 1rem;
	height: 1rem;
	fill: #fc6054;
	position: absolute;
}

.share {
	list-style: none;
	display: flex;
	align-items: center;
}

.share li {
	margin-right: .75rem;
}

.share li:last-child {
	margin-right: 0;
}

.share svg {
	width: 1.25rem;
	height: 1.25rem;
	fill: #6e8997;
}

.slide-toggle {
	margin-bottom: 1.5rem;
	padding: .25rem;
	background: #fff;
	border: 2px solid #dfe4e9;
	border-radius: 999px;
	display: flex;
}

.slide-toggle button {
	margin: 0;
	padding: .75rem 1.5rem;
	width: 50%;
	background: none;
	border: 0;
	border-radius: 999px;
	color: #fc6054;
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 700;
	cursor: pointer;
	transition: all .25s ease-out;
}

.slide-toggle button.active {
	background-color: #fc6054;
	color: #fff;
}

.wrap {
	margin: 0 auto;
	padding: 0 20px;
	width: 100%;
	max-width: 1240px;
	position: relative;
	z-index: 10;
}

#accessory-toggle {
	margin: 0;
	padding: .5rem;
	top: .5rem;
	right: 10px;
	width: 2rem;
	height: 2rem;
	background: none;
	border: 0;
	box-sizing: content-box;
	color: #fff;
	display: block;
	position: absolute;
	z-index: 100;
	cursor: pointer;
}

#accessory-toggle svg {
	width: 2rem;
	height: 2rem;
	fill: #0e3b52;
}

#footer {
	padding: 3rem 0;
	background: #fff;
}

#footer .share {
	margin-left: auto;
	justify-content: center;
}

#header {
	padding: 11px 0 10px;
	border-bottom: 1px solid #f5f5f5;
	position: relative;
}

#header::after {
	content: "";
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #f3f3f3;
	position: absolute;
}

#primary {
	display: none;
}

#primary ul {
	list-style: none;
	display: flex;
}

#primary ul li {
	margin-right: 2rem;
}

#primary ul li:last-child {
	margin-right: 0;
}

#primary ul li.active a {
	color: #fc6054;
}

#primary ul li a {
	color: #0e3b52;
	font-weight: 700;
	text-decoration: none;
}

#primary ul li a:hover {
	color: #fc6054;
}

/**
 * Responsive
 */

@media only screen and (min-width: 768px) {
	.copyright {
		margin-bottom: 0;
		text-align: left;
	}
	.events-section .events-section__cell {
		padding-left: 1.25rem;
	}
	.events-section .events-section__filters {
		width: 50%;
	}
	.events-section .events-section__grid {
		margin-left: -1.25rem;
		padding-right: 1rem;
	}
	.events-section .events-section__posts {
		width: 50%;
	}
	.events-section .events-section__wrap {
		display: flex;
		flex-direction: row-reverse;
	}
	.hero {
		padding: 6rem 0;
	}
	.hero-content {
		width: 50%;
		max-width: 36rem;
	}
	.hero-side-image {
		margin: 6rem 0;
		top: 0;
		right: -2rem;
		width: 50%;
		height: calc(100% - 12rem);
		background-size: cover;
		position: absolute;
	}
	.footer-wrap {
		display: flex;
	}
	#accessory-toggle {
		display: none;
	}
	#footer .share {
		justify-content: flex-start;
	}
	#primary {
		margin-left: auto;
		display: flex;
	}
}

@media only screen and (min-width: 1024px) {
	.events-card .events-card__body {
		padding: 1.25rem;
	}
	.events-card .events-card__head-info {
		padding: .25rem 1.25rem;
	}
	.events-section .events-section__cell {
		width: 50%;
	}
	.events-section .events-section__filters {
		width: 33.33333%;
	}
	.events-section .events-section__grid {
		display: flex;
		flex-wrap: wrap;
	}
	.events-section .events-section__posts {
		padding-right: 2rem;
		width: 66.66667%;
	}
}

@media only screen and (max-width: 1023px) {
	h1 {
		font-size: 3rem;
	}
}

@media only screen and (max-width: 767px) {
	h1 {}
}